@import '../../../content/scss/global.scss';

.landing {
  display: flex;
  height: 90vh;
  width: 100%;
  flex-direction: column;
  background-color: $white-color;

  &__nav-container {
    height: 20vh;
  }

  &__main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    align-items: center;
    padding: 0 10% 5% 10%;
  }

  &__text {
    display: flex;
    flex: 0.4;
    flex-direction: column;
    justify-content: flex-start;

    & > h2 {
      margin: 1rem 0;
      font-size: 150%;
    }

    & > p {
      margin: 0 0 1.5rem 0.2rem;
      width: 80%;
      font-size: 100%;
    }
  }

  &__image-box {
    display: flex;
    flex: 0.6;
    justify-content: center;
  }

  &__image {
    width: 100%;
    height: 90%;
    display: flex;
  }
}

.btn__landing {
  width: 18rem;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
  .landing {
    height: 60vh;

    &__image-box {
      display: none;
    }

    &__image {
      display: none;
    }

    &__nav-container {
      height: 10vh;
    }

    &__main {
      display: flex;
      width: 100%;
      height: 40vh;
      align-items: center;
      padding: 0;
    }

    &__text {
      width: 100%;
      display: flex;
      flex: 0.9;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      & > button {
        padding: 0 2rem;
        margin: 1rem 0;
      }

      & > p {
        text-align: justify;
        margin: 1rem 0;
      }

      & > h2 {
        font-size: xx-large;
      }
    }
  }
}
