@import '../../../content/scss/global.scss';

.aboutCard {
  position: relative;
  width: 30rem;
  height: 15rem;
  background-color: $white-color;
  border-radius: 01rem;
  padding: 5rem 2rem;
  margin: 5rem 1rem;
  text-align: justify;
  overflow: unset;
  box-shadow: rgba(74, 74, 82, 0.3) 0px 7px 29px 0px;

  & > h2 {
    margin-bottom: 1rem;
    font-size: large;
  }

  &__image-box {
    height: 5rem;
    width: 5rem;
    border-radius: 3rem;
    border: 1px solid $secondary-color;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2.5rem;
    left: 1rem;
    z-index: 1;
  }
}
