@import '../../../content//scss/global.scss';

.auth {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $white-color;

  &__form-section {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 100vh;
  }

  &__form-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 0.96;
    justify-content: center;
    & > h2 {
      font-size: 1.8rem;
      color: $primary-color;
    }
  }

  &__forgot {
    display: flex;
    justify-content: flex-end;
  }

  &__sign-box {
    margin: 0 auto;
    padding-bottom: 3rem;
    flex: 0.04;
  }

  &__sign-link {
    margin: 0 0.3rem;
    color: $primary-color;
    font-weight: 700;
    transition: all 500ms;

    &:hover,
    &:active {
      border: 0.5px solid $primary-color;
      padding: 2rem;
    }
  }

  &__image-section {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 3%;
  }

  &__text-box {
    & > h3 {
      font-size: 2.5rem;
      color: $primary-color;
    }

    & > p {
      margin: 1rem 0;
    }
  }

  &__image {
    height: 55%;
    width: 100%;
    margin: 2rem 0;
  }

  &__image-forgot {
    height: 80%;
    width: 80%;
    margin: auto;
  }

  &__section-separator {
    height: 82vh;
    width: 1px;
    border: none;
    display: flex;
    align-self: center;
    background-color: $secondary-color;
  }
}

@media only screen and (max-width: 1024px) {
  .auth {
    &__form-section {
      width: 100%;
    }

    &__image-section {
      display: none;
    }
  }
}
