@import '../../../content//scss/global.scss';

.auth {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  &__form-section {
    display: flex;
    flex-direction: column;
    width: 45vw;
  }

  &__form-box {
    display: flex;
    flex-direction: column;
    margin: auto;

    & > h2 {
      font-size: 1.8rem;
      color: $primary-color;
    }
  }

  &__forgot {
    display: flex;
    justify-content: flex-end;
  }

  &__sign-box {
    margin: 5rem auto;
  }

  &__sign-link {
    margin: 0 0.3rem;
    color: $primary-color;
    font-weight: 700;
  }

  &__image-section {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__text-box {
    & > h3 {
      font-size: 2.5rem;
      color: $primary-color;
    }

    & > p {
      margin: 1rem 0;
    }
  }

  &__image {
    height: 55%;
    width: 100%;
    margin: 2rem 0;
  }

  &__image-forgot {
    height: 80%;
    width: 80%;
    margin: auto;
  }
}
