@import '../../../content//scss/global.scss';

.menuBar {
  padding: 0 8%;
}

.nav__link {
  font-size: large;
  transition: all 500ms;

  &:hover,
  &:active {
    border: 1px solid $primary-color;
    text-decoration: none;
    border-radius: 1rem;
    padding: 2rem;
  }
}
