@import '../../../content/scss/global.scss';

.navbar {
  width: 100vw;
  padding: 2% 7%;

  &__link-container {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }

  &__link {
    margin: 0 0.5rem;
    text-decoration: none;
    color: $font-color;
    font-size: 120%;
  }
}

.drawerContainer {
  padding: 0 5%;
}
