@import '../../../content/scss/global.scss';

.home {
  &__landing {
  }

  &__about {
    height: 60vh;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & > h2 {
      width: 75%;
      overflow: hidden;
      font-size: xx-large;
      margin: 0 0 2rem 2rem;
    }
  }

  &__card-box {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__bounties {
    background-color: $secondary-color;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__table-box {
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    align-items: center;

    & > h2 {
      font-size: xx-large;
      display: flex;
      align-self: start;
    }
  }

  &__table {
    height: 60%;
    width: 100%;
    border-radius: 0.5rem;
    background: #fff;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home {
    &__about {
      padding: 5rem 1rem;
    }

    &__card-box {
      width: 85%;
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .home {
    &__about {
      height: 115vh;
      padding: 2rem 1rem 4rem 1rem;
      display: flex;
      justify-content: center;

      & > h2 {
        width: 100%;
        text-align: center;
        margin: 0 0 1rem 0;
      }
    }

    &__card-box {
      width: 85%;
      display: flex;
      flex-direction: column;
      padding-top: 3rem;
    }

    &__table-box {
      height: 80%;
      width: 90%;
      display: flex;
      justify-content: space-around;
    }
  }
}
