@import '../../../content/scss/global.scss';

.home {
  &__landing {
  }

  &__about {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & > h2 {
      width: 100%;
      overflow: hidden;
      font-size: xx-large;
      padding: 0 11%;
    }
  }

  &__card-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }

  &__bounties {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__table-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 0 10% 2% 10%;

    & > h2 {
      font-size: xx-large;
      display: flex;
      align-self: start;
      margin: 2% 0;
    }
  }

  &__table {
    height: 20rem;
    width: 100%;
    border-radius: 0.5rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__table-btn {
    width: 10rem;
    font-size: large;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home {
    &__about {
      padding: 5rem 1rem;
    }

    &__card-box {
      width: 85%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    &__about {
      height: 900px;
      padding: 2rem 1rem 4rem 1rem;
      display: flex;
      justify-content: center;

      & > h2 {
        width: 100%;
        text-align: center;
        margin: 0 0 1rem 0;
      }
    }

    &__card-box {
      width: 85%;
      display: flex;
      flex-direction: column;
      padding-top: 3rem;
    }

    &__table-box {
      height: 80%;
      width: 90%;
      display: flex;
      justify-content: space-around;
    }
  }
}
