@import '../../../content/scss/global.scss';

.home {
  &__landing {
  }

  &__about {
    height: 70vh;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & > h2 {
      width: 75%;
      overflow: hidden;
      font-size: xx-large;
      margin: 0 0 2rem 2rem;
    }
  }

  &__card-box {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__bounties {
    background-color: $secondary-color;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__table-box {
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    align-items: center;

    & > h2 {
      font-size: xx-large;
      display: flex;
      align-self: start;
    }
  }

  &__table {
    height: 60%;
    width: 100%;
    border-radius: 0.5rem;
    background: $white-color;
    display: flex;
    flex-direction: column;
  }
}
