<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="funding">
            <h2><span jhiTranslate="bountiesApp.funding.detail.title">Funding</span> {{ funding.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bountiesApp.funding.amount">Amount</span></dt>
                <dd>
                    <span>{{ funding.amount }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.funding.mode">Mode</span></dt>
                <dd>
                    <span>{{ funding.mode }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.funding.paymentAuth">Payment Auth</span></dt>
                <dd>
                    <span>{{ funding.paymentAuth }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.funding.bounty">Bounty</span></dt>
                <dd>
                    <div *ngIf="funding.bounty">
                        <a [routerLink]="['/bounties', funding.bounty?.id, 'view']">{{ funding.bounty?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/funding', funding.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
