@import '../../../content/scss/global.scss';

.bountypage {
  background-color: $secondary-color;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__table {
    overflow: hidden auto;
    height: 70%;
    width: 80%;
    border-radius: 0.5rem;
    background: $white-color;
    display: flex;
    flex-direction: column;
  }

  &__filters-box {
    height: 20rem;
    width: 30rem;
    padding: 1rem;
  }

  &__filter {
    padding: 0 1.5rem;
    margin: 1rem 0.5rem;
  }
}

.btn__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
}
