@import '../../../content/scss/global.scss';

.bountypage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $grey-color;

  &__header {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
  }

  &__table {
    overflow: hidden auto;
    height: 70%;
    width: 80%;
    border-radius: 0.5rem;
    background: $white-color;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__filters-box {
    height: 20rem;
    width: 30rem;
    padding: 1rem;
  }

  &__filter {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 6%;
  }

  &__btn-filter {
    margin: 0.5rem;
  }
}

.btn__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

.bounty {
  height: 100vh;
  background-color: $grey-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    height: 75vh;
    width: 75%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
    border-radius: 0.8rem;
    background-color: $white-color;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > p:not(:last-of-type) {
      font-weight: 700;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: $heading-color;
    }

    & > p:last-of-type {
      text-transform: uppercase;
      color: #3b36864b;
      font-weight: 600;
    }
  }

  &__body {
    & > h3 {
      color: $heading-color;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    & > p {
      font-size: 1.2rem;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;

    & > p {
      display: flex;
      flex-direction: column;
      width: 33.33%;
      font-size: 1.4rem;

      & > span {
        color: $heading-color;
        text-transform: uppercase;
        margin: 1% 0;
        font-weight: 700;
      }
    }
  }
}
