<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bounties">
            <h2><span jhiTranslate="bountiesApp.bounties.detail.title">Bounties</span> {{ bounties.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bountiesApp.bounties.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'bountiesApp.Status.' + bounties.status }}">{{ bounties.status }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.bounties.url">Url</span></dt>
                <dd>
                    <span>{{ bounties.url }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.bounties.amount">Amount</span></dt>
                <dd>
                    <span>{{ bounties.amount }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.bounties.experience">Experience</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'bountiesApp.Experience.' + bounties.experience }}">{{ bounties.experience }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.bounties.commitment">Commitment</span></dt>
                <dd>
                    <span>{{ bounties.commitment }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.bounties.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'bountiesApp.Type.' + bounties.type }}">{{ bounties.type }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.bounties.category">Category</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'bountiesApp.Category.' + bounties.category }}">{{ bounties.category }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.bounties.keywords">Keywords</span></dt>
                <dd>
                    <span>{{ bounties.keywords }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.bounties.permission">Permission</span></dt>
                <dd>
                    <span>{{ bounties.permission }}</span>
                </dd>
                <dt><span jhiTranslate="bountiesApp.bounties.expires">Expires</span></dt>
                <dd>
                    <span>{{ bounties.expires }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bounties', bounties.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
