<div>
    <h2 id="page-heading">
        <span jhiTranslate="bountiesApp.bounties.home.title">Bounties</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bounties" [routerLink]="['/bounties/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="bountiesApp.bounties.home.createLabel">
            Create a new Bounties
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'bountiesApp.bounties.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="bounties?.length === 0">
        <span jhiTranslate="bountiesApp.bounties.home.notFound">No bounties found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bounties && bounties.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.bounties.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.bounties.url">Url</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.bounties.amount">Amount</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.bounties.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.bounties.category">Category</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bounties of bounties ;trackBy: trackId">
                    <td><a [routerLink]="['/bounties', bounties.id, 'view']">{{ bounties.id }}</a></td>
                    <td>{{ bounties.status }}</td>
                    <td>{{ bounties.url }}</td>
                    <td>{{ bounties.amount }}</td>
                    <td>{{ bounties.type }}</td>
                    <td>{{ bounties.category }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bounties', bounties.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bounties', bounties.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bounties)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
