<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bounties-heading" jhiTranslate="bountiesApp.bounties.home.createOrEditLabel">Create or edit a Bounties</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="OPEN">{{ 'bountiesApp.Status.OPEN' | translate }}</option>
                        <option value="INVALID">{{ 'bountiesApp.Status.INVALID' | translate }}</option>
                        <option value="CLOSED">{{ 'bountiesApp.Status.CLOSED' | translate }}</option>
                        <option value="FUNDED">{{ 'bountiesApp.Status.FUNDED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.experience" for="field_experience">Experience</label>
                    <select class="form-control" name="experience" formControlName="experience" id="field_experience">
                        <option value="BEGINNER">{{ 'bountiesApp.Experience.BEGINNER' | translate }}</option>
                        <option value="INTERMEDIATE">{{ 'bountiesApp.Experience.INTERMEDIATE' | translate }}</option>
                        <option value="ADVANCED">{{ 'bountiesApp.Experience.ADVANCED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.commitment" for="field_commitment">Commitment</label>
                    <input type="number" class="form-control" name="commitment" id="field_commitment"
                           formControlName="commitment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="BUG">{{ 'bountiesApp.Type.BUG' | translate }}</option>
                        <option value="FEATURE">{{ 'bountiesApp.Type.FEATURE' | translate }}</option>
                        <option value="IMPROVEMENT">{{ 'bountiesApp.Type.IMPROVEMENT' | translate }}</option>
                        <option value="EX">{{ 'bountiesApp.Type.EX' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.category" for="field_category">Category</label>
                    <select class="form-control" name="category" formControlName="category" id="field_category">
                        <option value="FRONT_END">{{ 'bountiesApp.Category.FRONT_END' | translate }}</option>
                        <option value="BACKEND">{{ 'bountiesApp.Category.BACKEND' | translate }}</option>
                        <option value="THIS">{{ 'bountiesApp.Category.THIS' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.keywords" for="field_keywords">Keywords</label>
                    <input type="text" class="form-control" name="keywords" id="field_keywords"
                           formControlName="keywords"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.permission" for="field_permission">Permission</label>
                    <input type="checkbox" class="form-control" name="permission" id="field_permission"
                           formControlName="permission"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.bounties.expires" for="field_expires">Expires</label>
                    <div class="input-group">
                        <input id="field_expires" type="text" class="form-control" name="expires" ngbDatepicker #expiresDp="ngbDatepicker" formControlName="expires"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expiresDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
