// Override Boostrap variables
// @import '~bootswatch/dist/materia/variables';
// Import Bootstrap source files from node_modules
// @import 'node_modules/bootstrap/scss/bootstrap';
// @import '~bootswatch/dist/materia/bootswatch';

@import './global.scss';

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: $font-color;
  &:after,
  &::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
