@import './global.scss';

.bg-image {
  background-image: url('../images/bounties_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 125px);
}

a {
  color: $primary-color;
  font-weight: bold;
  text-decoration: none;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box !important;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: $font-color;
  overflow: hidden auto;
}

*:focus {
  outline: none;
}

.app {
  padding: 2% 0%;
  font-size: 1.4rem;
}
