/* ==============================================================
Variables
===============================================================*/

$primary-color: #3b3686;
$secondary-color: #d7dde8;
$font-color: #525a69;
