/* ==============================================================
Variables
===============================================================*/

$primary-color: #3b3686;
$secondary-color: #d7dde8;
$font-color: #525a69;
$white-color: #fff;
$grey-color: #eef2f7;

.btn {
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  margin: 0.5rem 0;

  &__white {
    background-color: $white-color;
  }

  &__primary {
    background-color: $primary-color;
    color: $white-color;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__round {
    border-radius: 4rem;
    background-color: $primary-color;
    color: $white-color;
  }

  &__outline {
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 4rem;
    color: $primary-color;
    transition: all 0.5s;
    padding: 0 1rem;

    &:hover,
    &:active {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      color: $white-color;
      transform: scale(1.15);
    }
  }
}
