/* ==============================================================
Variables
===============================================================*/

$primary-color: #3b3686;
$secondary-color: #d7dde8;
$font-color: #525a69;
$white-color: #fff;

.btn {
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem 0;

  &__white {
    background-color: $white-color;
  }

  &__primary {
    background-color: $primary-color;
    color: $white-color;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__round {
    border-radius: 4rem;
    background-color: $primary-color;
    color: $white-color;
  }

  &__outline {
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 4rem;
    color: $primary-color;
  }
}
