<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-profile-heading" jhiTranslate="bountiesApp.profile.home.createOrEditLabel">Create or edit a Profile</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.profile.votes" for="field_votes">Votes</label>
                    <input type="number" class="form-control" name="votes" id="field_votes"
                           formControlName="votes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.profile.profilelink" for="field_profilelink">Profilelink</label>
                    <input type="text" class="form-control" name="profilelink" id="field_profilelink"
                           formControlName="profilelink"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.profile.about" for="field_about">About</label>
                    <input type="text" class="form-control" name="about" id="field_about"
                           formControlName="about"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.profile.walletaddress" for="field_walletaddress">Walletaddress</label>
                    <input type="text" class="form-control" name="walletaddress" id="field_walletaddress"
                           formControlName="walletaddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.profile.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.profile.githubEmail" for="field_githubEmail">Github Email</label>
                    <input type="text" class="form-control" name="githubEmail" id="field_githubEmail"
                           formControlName="githubEmail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bountiesApp.profile.githubOrgName" for="field_githubOrgName">Github Org Name</label>
                    <input type="text" class="form-control" name="githubOrgName" id="field_githubOrgName"
                           formControlName="githubOrgName"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
