<div>
    <h2 id="page-heading">
        <span jhiTranslate="bountiesApp.profile.home.title">Profiles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile" [routerLink]="['/profile/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="bountiesApp.profile.home.createLabel">
            Create a new Profile
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'bountiesApp.profile.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="profiles?.length === 0">
        <span jhiTranslate="bountiesApp.profile.home.notFound">No profiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profiles && profiles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.profile.votes">Votes</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.profile.profilelink">Profilelink</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.profile.about">About</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.profile.walletaddress">Walletaddress</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.profile.userId">User Id</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.profile.githubEmail">Github Email</span></th>
                    <th scope="col" ><span jhiTranslate="bountiesApp.profile.githubOrgName">Github Org Name</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profile of profiles ;trackBy: trackId">
                    <td><a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a></td>
                    <td>{{ profile.votes }}</td>
                    <td>{{ profile.profilelink }}</td>
                    <td>{{ profile.about }}</td>
                    <td>{{ profile.walletaddress }}</td>
                    <td>{{ profile.userId }}</td>
                    <td>{{ profile.githubEmail }}</td>
                    <td>{{ profile.githubOrgName }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
